.hero {
  max-width: 1600px;
  height: 600px;
  margin: 80px auto 0px;
  padding: 200px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner.jpg");
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $secondary-text-color;
    @include font(900, 44px, 1.36);
        letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
