.logo {
  display: block;
  padding: 16px 0px;
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 28px);
  color: #000000;
  transition: color 250ms $timing-function;

  @media screen and (min-width: 768px) {
    padding: 26px 0px;
    margin-right: 86px;
  }

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }

  &-accent,
  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--footer {
    color: $secondary-text-color;
    transition: color 250ms $timing-function;

    @media screen and (min-width: 768px) {
      margin-right: 0px;
    }
  }
}
