.modal-btn {
  min-width: 200px;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;
  background-color: $accent-color;
  color: $secondary-text-color;
  font-family: inherit;
  @include font(700, 16px, 1.87); 
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms $timing-function, outline 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  &-center {
    align-self: center;
  }
}
