.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-top: 0px;
    margin-bottom: 50px;
    @include font(700, 36px, 1.16);
    text-align: center;
  }
}
.no-padding {
  padding-top: 0px;
}
