@mixin position($ps-a, $top, $left) {
  position: $ps-a;
  top: $top;
  left: $left;
}

@mixin display($dsp, $ai) {
  display: $dsp;
  align-items: $ai;
}

@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh / $fs;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

